<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sicnu.cs.employment.mapper.CompanyRecruitMapper">
<!--    <resultMap id="recruitResultMap" type="cn.sicnu.cs.employment.domain.entity.CompanyRecruit">    </resultMap>-->
    <select id="countById" resultType="java.lang.Long">
        SELECT COUNT(`id`)
        FROM `t_com_recruit`
        WHERE `id` = #{id}
    </select>
    <select id="listByComId" resultType="cn.sicnu.cs.employment.domain.entity.CompanyRecruit">
        SELECT *
        FROM `t_com_recruit`
        WHERE `com_id` = #{comId}
    </select>
</mapper>