<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sicnu.cs.employment.mapper.CompanyMapper">

    <update id="updateHeadImg">
        update `t_com_info`
        SET `logo` = #{path}
        WHERE `com_id` = #{id}
    </update>
    <select id="selectComNameById" resultType="java.lang.String">
        SELECT `com_name`
        FROM `t_com_info`
        WHERE `com_id` = #{id}
    </select>
    <select id="countComById" resultType="java.lang.Long">
        SELECT COUNT(`com_id`)
        FROM `t_com_info`
        WHEN `com_id` = #{id}
    </select>
    <select id="selectHeadImg" resultType="java.lang.String">
        SELECT `logo`
        FROM `t_com_info`
        WHERE `com_id` = #{id}
    </select>
    <select id="listEmployeesByStatus" resultType="cn.sicnu.cs.employment.domain.entity.EmployeeInfo">
        SELECT `emp`.*
        FROM `t_emp_info` emp
        LEFT JOIN `t_emp_com` `tec`
        ON `tec`.`emp_id` = `emp`.`id`
        WHERE `tec`.`com_id` = #{comId} AND `tec`.`status` = #{status};
    </select>
</mapper>