<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sicnu.cs.employment.mapper.CompanyInfoMapper">


    <select id="selectComNameById" resultType="java.lang.String">
        SELECT `com_name`
        FROM `t_com_info`
        WHERE `com_id` = #{id}
    </select>
</mapper>