<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sicnu.cs.employment.mapper.EmployeeCompanyMapper">
    <insert id="insertEmployeeCompany">
        INSERT INTO `t_emp_com`(`emp_id`)
        VALUES(#{empId})
    </insert>
    <update id="addEmployeeToCompany">
        UPDATE `t_emp_com`
        SET `status` = 1,
            `com_id` = #{comId},
            `in_time` = #{time}
        WHERE `emp_id` = #{empId}
    </update>
    <update id="deprecateEmployeeToCompany">
        UPDATE `t_emp_com`
        SET `status` = 2,
            `com_id` = #{comId},
            `off_time` = #{time}
        WHERE `emp_id` = #{empId}
    </update>
    <select id="getInTime" resultType="java.lang.String">
        SELECT `in_time`
        FROM `t_emp_com` `tec`
        RIGHT JOIN `t_admin_role` `adm`
        ON `tec`.`com_id` = `adm`.`admin_id`
        WHERE `emp_id`= #{empId} AND `adm`.`role_id`= #{comId}
    </select>
    <select id="getOffTime" resultType="java.lang.String">
        SELECT `in_time`
        FROM `t_emp_com` `tec`
        RIGHT JOIN `t_admin_role` `adm`
        ON `tec`.`com_id` = `adm`.`admin_id`
        WHERE `emp_id`= #{empId} AND `adm`.`role_id`= #{comId}
    </select>
</mapper>