<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sicnu.cs.employment.mapper.EmployeeCompanyMapper">
    <insert id="insertEmployeeCompany">
        INSERT INTO `t_emp_com`(`emp_id`)
        VALUES(#{empId})
    </insert>


    <update id="addEmployeeToCompany">
        INSERT INTO `t_emp_com`(`emp_id`,`com_id`,`status`,`in_time`)
        VALUES(#{empId}, #{comId},1 , #{time})
    </update>
    <update id="deprecateEmployeeToCompany">
        UPDATE TABLE `t_emp_com`
        SET `status` = 2,
            `com_id` = #{comId}
            `off_time` = #{in_time}
        WHERE `emp_id` = #{empId}
    </update>
    <select id="getInTime" resultType="java.lang.String">
        SELECT `in_time`
        FROM `t_emp_com`
        WHERE `emp_id`=#{empId} AND `com_id`=#{comId}
    </select>
    <select id="getOffTime" resultType="java.lang.String">
        SELECT `off_time`
        FROM `t_emp_com`
        WHERE `emp_id`=#{empId} AND `com_id`=#{comId}
    </select>
</mapper>